{% extends 'base.html' %}
{% block content %}
    <h1>Sign up!!</h1>
    {% if message %}
        <h1>{{message}}</h1>
    {% endif %}
    <form method="POST" action="{% url 'accounts:SignUp' %}">
        {% csrf_token %}
        Username:
        <br />
        <input type="text" name="username" required/>
        <br />
        E-mail:
        <br />
        <input type="text" name="e_mail" required/>
        <br />
        Password:
        <br />
        <input type="password" name="password1" required/>
        <br />
        Confirm Password:
        <br />
        <input type="password" name="password2" required/>
        <br />
        Initial Balance:
        <br />
        <input type="number" name="balance" required/>
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="Sign Up"/>
    </form>
{% endblock %}
