{% extends 'base.html' %}
{% block content %}
<h1>Here you can see the map for all trunks</h1>
<canvas id="canvas" width="650px" height="650px" style="background: #fff; margin:20px"></canvas>

<script type="text/javascript" language="javascript">
    // Box width
    var bw = 600;
    // Box height
    var bh = 600;
    // Padding
    var p = 2;

    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    function drawBoard(){
        for (var x = 0; x <= bw; x += 20) {
            context.moveTo(0.5 + x + p, p);
            context.lineTo(0.5 + x + p, bh + p);
        }


        for (var x = 0; x <= bh; x += 20) {
            context.moveTo(p, 0.5 + x + p);
            context.lineTo(bw + p, 0.5 + x + p);
        }

        context.strokeStyle = "black";
        context.stroke();
    }

    drawBoard();
</script>

{% endblock %}
