{% extends 'base.html' %}
{% block content %}
<h1>Here you can see all the packages you have if you login</h1>
{% if not_found %}
<h3>Your Amazon account didn't link to the UPS</h3>
{% else %}
{% endif %}
{% for package in packages%}
<h4>trackingId: {{package.tracking_id}}     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  status: {{package.strStatus}}
{% if package.is_prime%}&nbsp&nbsp&nbsp(Prime) {%endif%}</h4>
{% if not package.is_prime %} <form method="POST" action="{% url 'apps:add_prime' package.tracking_id%}">
        {% csrf_token %}<input class="btn btn-success" type="submit" value="Buy Prime"/>
    </form>
    {% endif %}

to arrive: ({{package.to_x}}, {{package.to_y}}) <br/>
<h4>items:</h4>
{% for item in package.items %}
  package detail: {{item.items_detail}} &nbsp&nbsp&nbsp count : {{item.count}} <br/>
{% endfor %}
<br/>
{% if package.strStatus != "created" %}
trunk id: {{package.trunk_id}}<br/>
{% endif %}
{% if package.strStatus != "delivered" and package.strStatus != "out for delivery"%}
<form method="POST" action="{% url 'apps:change_destination' package.tracking_id%}">
    {% csrf_token %}
    new destination:
    x:<input type="number" name="new_destination_x" style="width:60px;"/> &nbsp&nbsp y:<input type="number" name="new_destination_y" style="width:60px;"/> <input class="btn btn-primary" type="submit" value="Confirm!!!"/>
</form>
{% endif %}
<br/>
{% endfor %}
{% endblock %}
